<pre> 
Round {{round}} of {{experiment.num_rounds_per_subject}}
You are offered {{amount}} cents.  Do you accept?
</pre>
<form action="review" method="POST" id="review_form">
<fieldset>
  <input type="radio" name="accept" value="true" validate="required:true" /> Accept
  <input type="radio" name="accept" value="false" /> Reject 
  <br />
  <label for="accept" class="error" style="display: none;">Pick: do you accept or reject the offer?</label>
</fieldset>
<input type="submit" value="submit" />
</form>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.metadata.js"></script>
<script type="text/javascript" src="/js/jquery.validate.js"></script>

<script>
$.metadata.setType("attr", "validate");
$(document).ready(function() {
  $("#review_form").validate();
});
</script>
