{% if conditions.show_earned_so_far %}
<p>
Amount earned so far: {{earned_so_far_cents}} cents.
</p>
{% endif %}

<p>
{% if conditions.choice_set == "1..5" %}
Rate the exchange (5 for very satisfied, 1 for very unsatisfied)
{% elif conditions.choice_set == "-2..2" %}
Rate the exchange (2 for very satisfied, -2 for very unsatisfied)
{% elif conditions.choice_set == "123" %}
Rate the exchange (3 for satisfied, 1 for unsatisfied)
{% elif conditions.choice_set == "updown" %}
Rate the exchange:
{% elif conditions.choice_set == "relative_to_past" %}
Which of your past two rounds are you more satisfied with?
{% endif %}
</p>

<p>
{% if conditions.why_leave_a_review == "personal_gain" %} 
By rating your offerer, you help us avoid pairing you with offerers you did not like in subsequent rounds. 
{% elif conditions.why_leave_a_review == "collective_gain" %} 
By rating your offerer, you help us filter low-rated offerers out of the marketplace. 
{% elif conditions.why_leave_a_review == "experimental_validity" %} 
By rating your offerer, you help us gather data to understand the results of this study. 
{% endif %}
</p>

{% if conditions.review_is_mandatory %}
<p id='mandatory_review'>
Leaving a review is mandatory.
</p>
{% endif %}

</pre>

<form name="rating_form" action="finished_round" method="POST">
  {% if conditions.choice_set == "1..5" %}
  <input type="radio" name="rating" value="1"> 1 </a>
  <input type="radio" name="rating" value="2"> 2 </a>
  <input type="radio" name="rating" value="3"> 3 </a>
  <input type="radio" name="rating" value="4"> 4 </a>
  <input type="radio" name="rating" value="5"> 5 </a>
  {% elif conditions.choice_set == "-2..2" %}
  <input type="radio" name="rating" value="1"> -2</a>
  <input type="radio" name="rating" value="2"> -1</a>
  <input type="radio" name="rating" value="3"> 0 </a>
  <input type="radio" name="rating" value="4"> 1 </a>
  <input type="radio" name="rating" value="5"> 2 </a>
  {% elif conditions.choice_set == "123" %}
  <input type="radio" name="rating" value="1"> 1 </a>
  <input type="radio" name="rating" value="3"> 2 </a>
  <input type="radio" name="rating" value="5"> 3 </a>
  {% elif conditions.choice_set == "updown" %}
  <input type="radio" name="rating" value="1"> not satisfied </a>
  <input type="radio" name="rating" value="5"> satisfied </a>
  {% elif conditions.choice_set == "relative_to_past" %}
  <input type="radio" name="rating" value="prefer_current"> most recent round </a>
  <input type="radio" name="rating" value="prefer_last"> previous round </a>
  {% endif %}
  <input type="submit" value="submit" />
</form>

<p id="feedback_after_rating"></p>
<img src="/js/Thumbs-up.jpg" id="thumbs-up" style="display:none;"></img>
<img src="/js/trash-bin-jump-fail.gif" id="thumbs-down" style="display:none;"></img>

<script type="text/javascript" src="/js/jquery.js"></script>
<script>
  $('form').submit(function (e) {
    // avoid doudble-submission
    e.preventDefault();
    var form=this;
 
    var rating = $('input[name=rating]:checked').val();
    {% if conditions.review_is_mandatory %}
      if (!rating) {  
        $('#mandatory_review').hide();
        setTimeout(function() {$('#mandatory_review').show();}, 500);
        return false;
      }
    {% endif %}

    $('#feedback_after_rating').text("Submitting...");

    {% if conditions.comical_response_to_reviews %}
       if (rating === "1" || rating === "2") {
          $('#thumbs-down').show();
       } else if (rating === "4" || rating === "5") {
          $('#thumbs-up').show();
       }
    {% endif %}

    {% if conditions.thank_on_bad_review %}
      // TODO - switch from jinja logic to JS-based conditions object here.
      // grab value of rating...
      // this mixed logic is gross...
      {% if conditions.choice_set == "relative_to_past" %}
        if (rating) {
          $('#feedback_after_rating').text("Thank you for your review; we will try to pair you more often with your choice");
        }
      {% else %}
        if (rating === "1" || rating === "2") {
          $('#feedback_after_rating').text("Thank you for your review; we will no longer pair you with this person.");
        }
      {% endif %}
    {% endif %}

    // wait 2 seconds
    setTimeout(function() {form.submit();}, 2500);
  });
</script>
